@page "/pub-sub"
@using AdapterServer.Data;
@using Oiie.Settings;
@using AdapterServer.Components.Publications;
@using System.Security.Claims;
@using TaskQueueing.Persistence;
@using Notifications

@inject ILogger<Publication> Logger
@inject PublicationViewModel viewModel
@inject JobContextFactory factory
@inject ClaimsPrincipal principal
@inject INotificationService NotificationService
@inject IAuthorizationService AuthorizationService

@implements IAsyncDisposable

<PageTitle>Publish/Subscribe - Adapter Shell</PageTitle>

<h1>Publish/Subscribe</h1>

@if ( Edit == "channel" )
{
    <ManagePublication ChannelName="@channelName" BackTo="/pub-sub" />
}

<EditForm Model="@viewModel" OnSubmit="@HandleSubmit">
    <div class="grid grid-cols-4 gap-2">
        <div class="col-span-full flex justify-between items-center mt-6">
            <h2>ISBM Settings</h2>
            <div class="flex gap-2">
                <div class="flex col-span-full rounded bg-yellow-100 text-yellow-800 px-4 py-1 items-center @(notReady ? "" : "hidden")">
                    @* exclamation-triangle *@
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline mr-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>

                    <span>No open session</span>
                </div>
                <a class="btn" href="/pub-sub?edit=channel">Manage Channel</a>
            </div>
        </div>

        <h3 class="col-span-2">ISBM Endpoint</h3>
        <h3>ISBM Channel</h3>
        <h3>ISBM Topic</h3>
        <div class="col-span-2">
            <InputText type="text" class="form-input w-full" disabled @bind-Value="viewModel.Endpoint" />
        </div>
        <div>
            <InputText type="text" class="form-input w-full" disabled @bind-Value="viewModel.ChannelUri" />
        </div>
        <div>
            <InputText type="text" class="form-input w-full" disabled @bind-Value="@viewModel.Topic" />
        </div>

        <h3>Message Type</h3>
        <div />
        <div />
        <div />

        <div>
            <InputSelect class="form-input" disabled @bind-Value="@viewModel.MessageType">
                <option value="@PublicationViewModel.MessageTypes.JSON">Simple JSON</option>
                <option value="@PublicationViewModel.MessageTypes.ExampleBOD">Example BOD</option>
                @* <option value="@PublicationViewModel.MessageTypes.CCOM">CCOM BOD</option> *@
            </InputSelect>
        </div>
        <div />
        <div />
        <div />

        <h2 class="col-span-full mt-6">Message Settings</h2>

        <h3>Code</h3>
        <h3>Type</h3>
        <h3>Location</h3>
        <h3>Owner</h3>

        <div><InputText type="text" class="form-input w-full" @bind-Value="@viewModel.Code" /></div>
        <div><InputText type="text" class="form-input w-full" @bind-Value="@viewModel.Type" /></div>
        <div><InputText type="text" class="form-input w-full" @bind-Value="@viewModel.Location" /></div>
        <div><InputText type="text" class="form-input w-full" @bind-Value="@viewModel.Owner" /></div>

        <h3>Condition</h3>
        <h3>Inspector</h3>
        <div />
        <div />

        <div><InputText type="text" class="form-input w-full" @bind-Value="@viewModel.Condition" /></div>
        <div><InputText type="text" class="form-input w-full" @bind-Value="@viewModel.Inspector" /></div>
        <div />
        <div />

        <div class="col-span-full flex justify-between w-full">
            <button type="submit" class="btn-primary" disabled="@(working || notReady)">
                <div class="flex items-center">
                    <span role="status" class="mr-2 align-center @(!working ? "hidden" : "")">
                        <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </span>
                    <span class="align-center">@(working ? (!viewModel.Ready ? "Preparing..." : "Working...") : "Post New Structure")</span>
                </div>
            </button>
        </div>

        <div class="text-green-500 @(posted ? "" : "hidden")">Message sent!</div>

        @if (!string.IsNullOrEmpty(error))
        {
            <div class="col-span-full">
                <span class="text-red-500">@error</span>
            </div>
        }

        <h2 class="col-span-full mt-6 @(viewModel.PostedAssets.Count() == 0 ? "hidden" : "")">Posted Structures</h2>
        <table class="col-span-full min-w-full divide-y divide-gray-300 border roundeed data-table @(viewModel.PostedAssets.Count() == 0 ? "hidden" : "")">
            <thead class="bg-gray-100">
                <tr>
                    <th scope="col">Verb</th>
                    <th scope="col">Code</th>
                    <th scope="col">Type</th>
                    <th scope="col">Location</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Condition</th>
                    <th scope="col">Inspector</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @foreach (var postedAsset in viewModel.PostedAssets)
                {
                    <tr>
                        <td>@postedAsset.Verb</td>
                        <td>@postedAsset.Data.Code</td>
                        <td>@postedAsset.Data.Type</td>
                        <td>@postedAsset.Data.Location</td>
                        <td>@postedAsset.Data.Owner</td>
                        <td>@postedAsset.Data.Condition</td>
                        <td>@postedAsset.Data.Inspector</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

<h2 class="col-span-full mt-6">Publications</h2>
<PublicationList />

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    bool working;
    private bool posted;
    private bool notReady => viewModel.SessionId == "";
    string error = "";
    private string channelName = "pub-sub";
    private string connectionId = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Edit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        connectionId = await NotificationService.RegisterLocal("publication-message-update", async n => {
            using var context = await factory.CreateDbContext(principal);
            await viewModel.Load(context);
            await InvokeAsync(StateHasChanged);
        });

        await base.OnInitializedAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await NotificationService.Unregister(connectionId);
    }

    protected override async Task OnParametersSetAsync()
    {
        await viewModel.LoadSettings(channelName);

        await InvokeAsync(StateHasChanged);

        using var context = await factory.CreateDbContext(principal);
        await viewModel.Load(context);

        await base.OnParametersSetAsync();
    }

    private async void HandleSubmit()
    {
        Logger.LogInformation("HandleSubmit called");
        if (authenticationState is not null) await authenticationState;
        @* if (!authenticationState?.Result.User.IsInRole("FakeAdmin") ?? false) *@
        @* Poliy-based authorization example *@
        var authResult = await AuthorizationService.AuthorizeAsync(authenticationState?.Result.User, "AdministratorsOnly");
        if (!authResult.Succeeded)
        {
            error = $"You do not have FakeAdmin privileges. {authResult.Failure.FailureReasons}";
            await InvokeAsync(StateHasChanged);
            @* StateHasChanged(); *@
            return;
        }

        working = true;
        posted = false;
        await InvokeAsync(StateHasChanged);
        @* StateHasChanged(); *@
        error = "";

        try
        {
            // Process the form (read is performed asynchronously)
            viewModel.Post();
            posted = true;
        }
        catch( Exception ex )
        {
            error = ex.Message;
            working = false;
        }
        finally
        {
            working = false;
            await InvokeAsync(StateHasChanged);
            @* StateHasChanged(); *@
        }
    }
}
