@using AdapterServer.Components
@using AdapterServer.Data;
@using Isbm2Client.Interface;
@using Isbm2Client.Model;
@using Microsoft.Extensions.Options;
@using System.Security.Claims;
@using TaskQueueing.Persistence;

@inject ILogger<ManageRequest> Logger
@inject SettingsService settings
@inject IOptions<ClientConfig> clientConfig

@inject IChannelManagement channel
@inject IConsumerRequest consumer
@inject IProviderRequest provider

@inject NavigationManager navigation
@inject IJSRuntime JS
@inject ClaimsPrincipal principal
@inject JobContextFactory factory
@inject ManageRequestViewModel viewModel

<PageTitle>Manage Request Channel - Adapter Shell</PageTitle>

<EditForm Model="@viewModel" OnSubmit="@HandleSubmit">
    <Modal Title="Manage Request Channel">
        <HeaderAction>
            <button class="btn-danger" @onclick="Destroy" @onclick:preventDefault disabled="@(viewModel.ConsumerSessionId == "")">
                <span>Destroy Channel</span>

                <span role="status" class="ml-2 align-center @(!deleteWorking ? "hidden" : "")">
                    <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </span>
            </button>
        </HeaderAction>
        <ChildContent>
            <div class="grid gap-2">
                <div>
                    <h3 class="col-span-2">ISBM Endpoint</h3>
                    <InputText type="text" class="form-input w-full" disabled @bind-Value="viewModel.Endpoint" />
                </div>

                <div>
                    <h3>ISBM Channel</h3>
                    <InputText type="text" class="form-input w-full" disabled=@(viewModel.ConsumerSessionId != "") @bind-Value="viewModel.ChannelUri" />
                </div>

                <div>
                    <h3>ISBM Topic</h3>
                    <InputText type="text" class="form-input w-full" disabled=@(viewModel.ConsumerSessionId != "") @bind-Value="@viewModel.Topic" />
                </div>

                <div>
                    <label>
                        <h3>Message Type</h3>
                        <InputSelect class="form-input" disabled=@(viewModel.ConsumerSessionId != "") @bind-Value="@viewModel.MessageType">
                            <option value="@RequestViewModel.MessageTypes.JSON">Simple JSON</option>
                            <option value="@RequestViewModel.MessageTypes.ExampleBOD">Example BOD</option>
                            @* <option value="@RequestViewModel.MessageTypes.CCOM">CCOM BOD</option> *@
                        </InputSelect>
                    </label>
                </div>
            </div>
        </ChildContent>
        <Footer>
            <button type="submit" class="btn-primary inline-flex w-full sm:ml-3 sm:w-auto">
                <span>@(viewModel.ConsumerSessionId == "" ? "Open" : "Close") Session</span>

                <span role="status" class="ml-2 align-center @(!working ? "hidden" : "")">
                    <svg aria-hidden="true" class="inline w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </span>
            </button>
            <a href="@BackTo" class="btn mt-3 sm:mt-0 inline-flex w-full sm:ml-3 sm:w-auto">Cancel</a>
        </Footer>
    </Modal>
</EditForm>

@code {
    private bool working;
    private bool deleteWorking;

    [Parameter]
    public string ChannelName { get; set; } = null!;

    [Parameter]
    public string BackTo { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        viewModel.Endpoint = clientConfig.Value.EndPoint;

        await viewModel.Load( settings, ChannelName );

        await base.OnInitializedAsync();
    }

    private async Task HandleSubmit()
    {
        Logger.LogInformation("HandleSubmit called");

        working = true;

        await InvokeAsync( StateHasChanged );

        if (!string.IsNullOrEmpty(viewModel.ConsumerSessionId))
            await viewModel.CloseSession( channel, consumer, provider, settings, ChannelName );
        else
            await viewModel.OpenSession( channel, consumer, provider, settings, ChannelName );

        navigation.NavigateTo(BackTo);
    }

    private async Task Destroy()
    {
        Logger.LogInformation("Destroy called");

        bool confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to destroy the '{viewModel.ChannelUri}' channel?");
        if (confirmed)
        {
            deleteWorking = true;

            await InvokeAsync(StateHasChanged);

            await viewModel.DestroyChannel(channel, settings, ChannelName);

            navigation.NavigateTo(BackTo);
        }
    }
}
