@page "/entry-view"

@using CIRLib.UI;
@using ObjModels = CIRLib.ObjectModel.Models;
@using CIRLib.Persistence;
@using System.Security.Claims;
@using CIRServices;

@inject EntryServices Services
@inject NavigationManager NavigationManager
@inject CIRLibContextFactory Factory


<div class="panel-heading alert-primary">
    <h3 class="panel-title" align="justify"> Entry               
        <button class="btn btn-primary" @onclick="(() => AddEntry())" style="float: right;">
            <i class="oi oi-pencil"></i> Add Entry
        </button> 
    </h3> 
</div> 
        
<table class="col-span-full min-w-full divide-y divide-gray-300 border roundeed data-table">
    <thead class="bg-gray-100">
        <tr>
            <th scope="col">Entry Id</th>
            <th scope="col">Source Id </th>            
            <th scope="col">Category Ref Id</th>
            <th scope="col">Registry Ref Id</th>
            <th scope="col">CIRID </th>
            <th scope="col">SourceOwnerId </th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Inactive </th>
             <th></th>
        </tr>
    </thead>
    
    <tbody class="bg-white divide-y divide-gray-200">
        @foreach (var Entry in EntryList)
        {
            <tr>
                <td>@Entry.IdInSource</td>
                <td>@Entry.SourceId</td>                
                <td>@Entry.CategoryRefId</td>
                <td>@Entry.RegistryRefId</td>
                <td>@Entry.CIRId</td>
                <td>@Entry.SourceOwnerId</td>
                <td>@Entry.Name</td>
                <td>@Entry.EntryDescription</td>
                <td>@Entry.Inactive</td>

                <td> 
                    <button class="btn btn-primary" @onclick="(() =>EditEntry(Entry.Id))">
                            Edit
                    </button>                    
                </td>      
            </tr>
        } 
    </tbody>
</table>

@code {
    [Parameter]
    public string SearchFilterReg { get; set;} = "";
    [Parameter]
    public string SearchFilterCat { get; set;} = "";
    [Parameter]
    public string SearchFilterEntry { get; set;} = "";
    [Parameter]
    public string SearchFilterProperty { get; set;} = "";
    [Parameter]
    public string SearchFilterPropertyValue { get; set;} = "";
    public List<ObjModels.Entry> EntryList{ get; set; } = new List<ObjModels.Entry>();

    protected override async Task OnParametersSetAsync()
    {
        await SearchForEntry();
        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        using var Context = await Factory.CreateDbContext(new ClaimsPrincipal());
        EntryList = Services.GetAllEntries(Context);
        await base.OnInitializedAsync();
    }
    
    void EditEntry(Guid Id)
    {
        NavigationManager.NavigateTo($"/edit-entry/{Id}");
    }

    void AddEntry()
    {
        NavigationManager.NavigateTo("/edit-entry");
    }    

    async Task SearchForEntry()
    {
        var Context = Factory.CreateDbContext(new ClaimsPrincipal());
        EntryList = Services.GetEntriesFromFilters(entryId:SearchFilterEntry, 
        registryId:SearchFilterReg, categoryId:SearchFilterCat, propertyId:SearchFilterProperty,
        propertyValueKey: SearchFilterPropertyValue,dbContext:Context.Result);      
    }
}
